<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="icon" type="image/png" href="https://img.icons8.com/external-becris-lineal-color-becris/64/000000/external-recipe-kitchen-cooking-becris-lineal-color-becris-1.png"/>
<head>
    <meta charset="UTF-8">
    <title>Create Event|| HypertextAssassinsGBC</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Recipe Creator</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="../index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/recipe/all">Recipes</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/user/recipes">User Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../about">About</a>
                </li>
            </ul>
            <li class="nav-item form-inline my-lg-0 mr-5 dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    User
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/profile">Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </li>
        </div>
    </nav>

    <div class="container p-5 mb-5">
        <div class="card-columns">
            <div th:each="recipe : ${recipes}" class="card" name="recipe">
                <div class="card-body">
                    <h5 class="card-title" th:text="${recipe.title}"></h5>
                    <h6 class="card-text" th:text="${recipe.id}"></h6>
                    <p class="card-text" th:text="${recipe.steps}"></p>
                    <p class="card-text" th:text="${recipe.ingredients}"></p>
                    <div class="form-group blu-margin">
                        <label for="start">Event Date:</label>

                        <input type="date" id="start" th:field="*{date}"
                               value="2018-07-22"
                               min="2018-01-01" max="2018-12-31">
                    </div>

                    <form method="post" th:action="@{/createEvent/{id}(id=${recipe.recipe_id})}"  th:object="${event}" >
                        <button class="btn btn-primary mt-2" type="submit" >Create Event</button>
                    </form>

                </div>
                <div class="card-footer">

                    <small class="text-muted text-center">HypertextAssassinsGBC</small>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar fixed-bottom navbar-dark bg-dark d-flex justify-content-center">
        <h3 class="navbar-brand" href="#">HypertextAssassinsGBC&copy;</h3>
    </nav>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>