<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="icon" type="image/png" href="https://img.icons8.com/external-becris-lineal-color-becris/64/000000/external-recipe-kitchen-cooking-becris-lineal-color-becris-1.png"/>
<head>
    <meta charset="UTF-8">
    <title>All Recipes || HypertextAssassinsGBC</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Recipe Creator</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="../index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/recipe/all">Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../about">About</a>
                </li>
            </ul>
            <li class="form-inline my-2 my-lg-0">
                <a class="badge badge-pill badge-light p-2" href="/login">Login</a>
            </li>
        </div>
    </nav>

    <div class="container">
        <h2 class="text-center m-4">All Recipes</h2>
        <div class="card-columns p-2">
            <div th:each="recipe : ${recipes}" class="card">
                <div class="card-body">
                    <h5 th:text="${recipe.title}" class="card-title"></h5>
                    <h6 class="card-text" th:text="${recipe.id}"></h6>
                    <p class="card-text" th:text="${recipe.body}">Recipe Recipe</p>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-dark bg-dark d-flex justify-content-center">
        <h3 class="navbar-brand" href="#">HypertextAssassinsGBC&copy;</h3>
    </nav>
</body>
</html>