<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="icon" type="image/png" href="https://img.icons8.com/external-becris-lineal-color-becris/64/000000/external-recipe-kitchen-cooking-becris-lineal-color-becris-1.png"/>
<head>
    <meta charset="UTF-8">
    <title>About || HypertextAssassinsGBC</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="index">Recipe Creator</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/recipe/all">Recipes</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="about">About</a>
                </li>
            </ul>
            <li class="form-inline my-2 my-lg-0">
                <a class="badge badge-pill badge-primary p-2" href="/login">Login</a>
            </li>
        </div>
    </nav>

    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid p-5">
            <h1 class="display-4">About HypertextAssassinsGBC</h1>
            <p class="lead">Check out below to know all about HypertextAssassinsGBC and why we created Recipe Creator.</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Recipes of Recipe Creator</h5>
                        <p class="card-text">Our recipes are derived from people creating their own cooking directions and submitting them on the site, as well we added some of our own!</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Idea of Recipe Creator</h5>
                        <p class="card-text">The idea behind Recipe Creator. We created Recipe Creator for people to find the best foods and to be able to follow any directions simply, so we can bring the best foods to everyone. We also made it because it's our assignment!</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid p-4">
            <h1 class="display-4">The Team</h1>
            <p class="lead">This is our Team of skilled individuals.</p>
            <div class="d-flex justify-content-center p-2">
                <div class="p-2 d-flex justify-content-center align-items-center flex-column">
                    <img class="rounded-circle shadow w-75" src="https://avatars.githubusercontent.com/u/78028437?v=4" alt="Duncan"/>
                    <p class="p-2">Duncan</p>
                </div>
                <div class="p-2 d-flex justify-content-center align-items-center flex-column">
                    <img class="rounded-circle shadow w-75" src="https://avatars.githubusercontent.com/u/33011188?v=4" alt="Oliver"/>
                    <p class="p-2">Oliver</p>
                </div>
                <div class="p-2 d-flex justify-content-center align-items-center flex-column">
                    <img class="rounded-circle shadow w-75" src="https://avatars.githubusercontent.com/u/78028437?v=4" alt="Paolo"/>
                    <p class="p-2">Paolo</p>
                </div>
            </div>
        </div>

        <div class="card text-center m-3">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <h5 class="card-title">View the best Recipes!</h5>
                <p class="card-text">Check out our recipes and feel free to add them to your cookbook, so you can see them whenever you're satisfying a yummy meal.</p>
                <a href="/recipe/all" class="btn btn-primary">Recipes</a>
            </div>
            <div class="card-footer text-muted">
                HypertextAssassinsGBC
            </div>
        </div>
    </div>

    <div class="p-5"> </div>

    <nav class="navbar fixed-bottom navbar-dark bg-dark d-flex justify-content-center">
        <h3 class="navbar-brand">HypertextAssassinsGBC&copy;</h3>
    </nav>
</body>
</html>