<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="icon" type="image/png" href="https://img.icons8.com/external-becris-lineal-color-becris/64/000000/external-recipe-kitchen-cooking-becris-lineal-color-becris-1.png"/>
<head>
    <meta charset="ISO-8859-1">
    <title>Registration Success</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Recipe Creator</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="../index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/recipe/all">Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../about">About</a>
                </li>
            </ul>
            <li class="form-inline my-2 my-lg-0">
                <a class="badge badge-pill badge-light p-2" href="/login">Login</a>
            </li>
        </div>
    </nav>

    <div class="container my-5 p-5 h-100">
        <div class="bg-dark text-light rounded mx-5 py-5 row h-100 justify-content-center align-items-center flex-column">
            <h3 class="p-2">You have signed in successfully!</h3>
            <div class="p-3 justify-content-around">
                <a class="btn btn-primary p-2" href="/createRecipe">Create a new recipe</a>
                <a class="btn btn-primary p-2" href="/viewRecipes">View your recipes</a>
                <a class="btn btn-primary p-2" href="/viewCookbook">View your cookbook</a>
            </div>
        </div>
    </div>
    <div class="user-information">
        <tr>

        </tr>
    </div>

    <nav class="navbar fixed-bottom navbar-dark bg-dark d-flex justify-content-center">
        <h3 class="navbar-brand" href="#">HypertextAssassinsGBC&copy;</h3>
    </nav>
</body>
</html>