<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration Success</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>

<div class="container text-center">
    <h3>You have signed up successfully!</h3>
    <a href="/createRecipe">Create a new recipe</a>
    <a href="/viewRecipes">View your recipes</a>
    <a href="/viewCookbook">View your cookbook</a>
</div>
<div class="user-information">
    <tr>

    </tr>
</div>

</body>
</html>