<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="icon" type="image/png" href="https://img.icons8.com/external-becris-lineal-color-becris/64/000000/external-recipe-kitchen-cooking-becris-lineal-color-becris-1.png"/>
<head>
    <meta charset="UTF-8">
    <title>Shopping List</title>
</head>
<body>
<h4>Your Shopping List</h4>
<div class="card-deck">
    <div th:each="ingredient : ${shoppingList}" class="card">
        <div class="card-body">
            <form method="post" th:action="@{/deleteIngredient/{ingredient}(ingredient=${ingredient})}"  >
                <h3 th:text="${ingredient}"  name="ingredient"></h3>
                <button  type="submit">Delete From List</button>
            </form>


        </div>
        <div class="card-footer">
            <small class="text-muted text-center">HypertextAssassinsGBC</small>
        </div>
    </div>
</div>

</body>
</html>